<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dwolla.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="dwolla.net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <dwolla.Properties.Settings>
            <setting name="client_id" serializeAs="String">
                <value />
            </setting>
            <setting name="client_secret" serializeAs="String">
                <value />
            </setting>
            <setting name="pin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="oauth_scope" serializeAs="String">
                <value>Send|Transactions|Balance|Request|Contacts|AccountInfoFull|Funding|ManageAccount</value>
            </setting>
            <setting name="production_host" serializeAs="String">
                <value>https://www.dwolla.com/</value>
            </setting>
            <setting name="sandbox_host" serializeAs="String">
                <value>https://uat.dwolla.com/</value>
            </setting>
            <setting name="default_postfix" serializeAs="String">
                <value>oauth/rest</value>
            </setting>
            <setting name="sandbox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rest_timeout" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="proxy" serializeAs="String">
                <value />
            </setting>
            <setting name="access_token" serializeAs="String">
                <value />
            </setting>
        </dwolla.Properties.Settings>
        <dwolla.net.Properties.Settings>
            <setting name="client_id" serializeAs="String">
                <value />
            </setting>
            <setting name="client_secret" serializeAs="String">
                <value />
            </setting>
            <setting name="pin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="oauth_scope" serializeAs="String">
                <value>Send|Transactions|Balance|Request|Contacts|AccountInfoFull|Funding|ManageAccount</value>
            </setting>
            <setting name="production_host" serializeAs="String">
                <value>https://www.dwolla.com/</value>
            </setting>
            <setting name="sandbox_host" serializeAs="String">
                <value>https://uat.dwolla.com/</value>
            </setting>
            <setting name="default_postfix" serializeAs="String">
                <value>oauth/rest</value>
            </setting>
            <setting name="sandbox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rest_timeout" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="proxy" serializeAs="String">
                <value />
            </setting>
        </dwolla.net.Properties.Settings>
    </userSettings>
</configuration>