<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="LibSettings" type="Dwolla.LibSettings"/>
  </configSections>
  <LibSettings
    client_id=""
    ></LibSettings>
  <appSettings>
    <add key="client_id" value="" />
    <add key="client_secret" value="" />
    <add key="pin" value=""/>
    <add key="access_token" value=""/>
    <add key="oauth_scope" value="Send|Transactions|Balance|Request|Contacts|AccountInfoFull|Funding|ManageAccount" />
    <add key="production_host" value="https://www.dwolla.com/" />
    <add key="sandbox_host" value="https://uat.dwolla.com/" />
    <add key="default_postfix" value="oauth/rest" />
    <add key="sandbox" value="true"/>
    <add key="debug" value="true"/>
    <add key="rest_timeout" value="15"/>
  </appSettings>
</configuration>