<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="client_id" value="HFpRm2QGHYOjqEeNug1BRGoTdtlhozgGchwmi29+2eKTEqaHze" />
    <add key="client_secret" value="W2mbw6Zt7Ki0cO1cn31tIc0ffbgNSkgYE0F8VO9blEV9otruVP" />
    <add key="pin" value="1234"/>
    <add key="access_token" value=""/>
    <add key="oauth_scope" value="Send|Transactions|Balance|Request|Contacts|AccountInfoFull|Funding|ManageAccount" />
    <add key="production_host" value="https://www.dwolla.com/" />
    <add key="sandbox_host" value="https://uat.dwolla.com/" />
    <add key="default_postfix" value="oauth/rest" />
    <add key="sandbox" value="true"/>
    <add key="debug" value="true"/>
  </appSettings>
</configuration>