<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="dwolla_key" value="HFpRm2QGHYOjqEeNug1BRGoTdtlhozgGchwmi29+2eKTEqaHze" />
    <add key="dwolla_secret" value="W2mbw6Zt7Ki0cO1cn31tIc0ffbgNSkgYE0F8VO9blEV9otruVP" />
    <add key="dwolla_pin" value="1234"/>
    <add key="dwolla_access_token" value=""/>
    <add key="dwolla_oauth_scope" value="Send|Transactions|Balance|Request|Contacts|AccountInfoFull|Funding|ManageAccount" />
    <add key="dwolla_production_host" value="https://www.dwolla.com/" />
    <add key="dwolla_sandbox_host" value="https://uat.dwolla.com/" />
    <add key="dwolla_default_postfix" value="oauth/rest" />
    <add key="dwolla_sandbox" value="true"/>
    <add key="dwolla_debug" value="true"/>
  </appSettings>
</configuration>