@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to ExampleMVC</h2>
<p>You can use this application to send money using your Dwolla account.</p>
@Html.ActionLink("Log in with Dwolla", "OAuth")